* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: #c0b0b2d2;
}

header, #info {
	text-align: center;
	padding: 15px 0px;
	color: #eb6262;
}

#game {
	display: inline-block;
	padding: 15px;
	background-color: #C6C6C6;
	border-radius: 5px;
}

.col {
	width: 100px;
	height: 100px;
	margin: 5px;
	background-color: #E9D2D2;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bolder;
}

.row {
	display: flex;
}

#center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}